<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataLogger_End.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DataLogger_End.Properties.Settings>
      <setting name="temp1" serializeAs="String">
        <value />
      </setting>
      <setting name="temp2" serializeAs="String">
        <value />
      </setting>
      <setting name="temp3" serializeAs="String">
        <value />
      </setting>
      <setting name="temp4" serializeAs="String">
        <value />
      </setting>
      <setting name="temp5" serializeAs="String">
        <value />
      </setting>
      <setting name="temp6" serializeAs="String">
        <value />
      </setting>
      <setting name="temp7" serializeAs="String">
        <value />
      </setting>
      <setting name="temp8" serializeAs="String">
        <value />
      </setting>
      <setting name="num1" serializeAs="String">
        <value />
      </setting>
      <setting name="num2" serializeAs="String">
        <value />
      </setting>
      <setting name="num3" serializeAs="String">
        <value />
      </setting>
      <setting name="num4" serializeAs="String">
        <value />
      </setting>
      <setting name="num5" serializeAs="String">
        <value />
      </setting>
      <setting name="num6" serializeAs="String">
        <value />
      </setting>
      <setting name="num7" serializeAs="String">
        <value />
      </setting>
      <setting name="num8" serializeAs="String">
        <value />
      </setting>
    </DataLogger_End.Properties.Settings>
  </userSettings>
</configuration>